<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Inyectamos la fuente de cdnjs para que podamos usar ajax-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <!--Se pone el formulario con la action que indicara la ruta a la que responde el formulario-->
    <!--Y en el metodo ponemos la operacion que vamos a hacer, en este caso un Post-->
    <form action="/student" method="POST">
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname" /><br /><br />
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname" /><br /><br />
      <input type="submit" type="submit" />
    </form>
    <!--El id que pongamos para los input es el que usaremos cuando queramos acceder a los datos que se enviaron por el body de este formulario-->
    <!--Agregamos un script que tendra de datos un objeto con las keys firstname y lastname, el cual se parseara a string-->
    <script>
      $.ajax({
        type: "POST",
        url: "/personjson",
        data: JSON.stringify({ firstname: "Juan", lastname: "Luna" }),
        dataType: "json",
        contentType: "application/json",
      });
    </script>
    <!--La url que ponemos en el script de ajax es la misma que deberemos usar en el metodo post del archivo server.js-->
  </body>
</html>
